<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>丹阳老人头</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/static/css/bootstrap-datetimepicker.css}" rel="stylesheet">
    <link th:href="@{/static/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/jquery.toast.css}" rel="stylesheet">
    <link th:href="@{/static/css/simpleAlert.css}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link th:href="@{/static/css/sb-admin.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="vipindex.html">丹阳老人头汽车服务后台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li><a href="/car-sell/vipIndex"><i></i> 首页</a></li>
                <li class="active"><a href="/car-sell/vipAdd"><i></i> 会员信息添加</a></li>
                <li><a href="/car-sell/vipUse/selectConsumeDetail"><i></i> 会员信息修改</a></li>
                <li><a href="/car-sell/vipUse/selectConsumeDetail"><i></i> 充值</a></li>
                <li><a href="/car-sell/vipUse/selectConsumeDetail"><i></i> 消费</a></li>
                <li><a href="/car-sell/vipUse/selectConsumeDetail"><i></i> 消费充值明细查询</a></li>
            </ul>
        </div>

    </nav>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1>会员添加 </h1>
                <!-- <small>Enter Your Data</small> -->

                <!-- <div class="alert alert-info alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  Visit <a class="alert-link" target="_blank" href="http://getbootstrap.com/css/#forms">Bootstrap's Form Documentation</a> for more information.
                </div> -->
                <hr style="height:3px;border:none;border-top:2px double red;"/>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-lg-6">

                <form role="form">

                    <div class="form-group">
                        <h3>姓名：</h3>
                        <!-- <label>姓名</label> -->
                        <input class="form-control" id="name">
                    </div>

                    <div class="form-group">
                        <h3>电话：</h3>
                        <!-- <label>姓名</label> -->
                        <input class="form-control" id="tel">
                    </div>

                    <div class="form-group">
                        <h3>车牌号：</h3>
                        <!-- <label>姓名</label> -->
                        <input class="form-control" id="carNumber">
                    </div>

                    <div class="form-group">
                        <h3>车型：</h3>
                        <!-- <label>姓名</label> -->
                        <input class="form-control" id="carType">
                    </div>

                    <div class="form-group">
                        <h3>成为会员日期：</h3>
                        <!-- <label>姓名</label> -->
                        <input class="form-control form_datetime" id="crDate" type="text" th:value="${date}" readonly>
                    </div>
                    <div class="form-group">
                        <h3>会员等级：</h3>
                        <select class="form-control" title="请选择会员等级" id="vipLevelId">
                            <option th:each="info,infoStat:${levelList}" th:value="${info.id}"
                                    th:text="${info.vipName}">1
                            </option>
                        </select>
                    </div>
                    <p>
                        <button type="button" id="submitButton" class="btn btn-success btn-lg btn-block">添加提交</button>
                        <button type="reset" class="btn btn-info btn-lg btn-block">重置</button>

                    </p>

                </form>

            </div>
        </div><!-- /.row -->

    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<script th:src="@{/static/js/jquery-1.10.2.js}"></script>
<script th:src="@{/static/js/bootstrap.js}"></script>
<script th:src="@{/static/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/static/js/bootstrap-datetimepicker.zh-CN.js}"></script>
<script th:src="@{/static/js/jquery.toast.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
<script th:src="@{/static/js/simpleAlert.js}"></script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language: 'zh-CN'
    });
    $(function () {
        $("#submitButton").click(function (e) {
            //单次双选弹框
            var dblChoseAlert = simpleAlert({
                "title":"提示",
                "content":"确定提交吗？",
                "buttons":{
                    "确定":function () {
                        if ($("#name").val() == '' || $("#name").val() == undefined){
                            getToast("名称不能为空","error");
                            return false;
                        }
                        $.ajax({
                            //请求方式
                            type: "POST",
                            //请求的媒体类型
                            contentType: "application/json;charset=UTF-8",
                            headers: {
                                "token": localStorage.getItem("tk")//此处放置请求到的用户token
                            },
                            //请求地址
                            url: myUri + "/car-sell/vip/aOrU",
                            data: JSON.stringify({
                                "name": $("#name").val(),
                                "tel": $("#tel").val(),
                                "carNumber": $("#carNumber").val(),
                                "carType": $("#carType").val(),
                                "crDate": new Date($("#crDate").val()),
                                "vipLevelId": $("#vipLevelId").val()
                            }),
                            dataType: "json",
                            //请求成功
                            success: function (result) {
                                getToast(result.msg,"success");
                            },
                            //请求失败，包含具体的错误信息
                            error: function (e) {
                                console.log(e.status);
                                console.log(e.responseText);
                            }
                        });
                        dblChoseAlert.close();
                    },
                    "取消":function () {
                        dblChoseAlert.close();
                    }
                }
            });
        });
    });
</script>

</body>
</html>