<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>丹阳老人头</title>

    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link th:href="@{/static/css/sb-admin.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="vipindex.html">丹阳老人头汽车服务后台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="/car-sell/vipIndex"><i ></i> 首页</a></li>
            <li><a href="/car-sell/vipUse/selectConsumeDetail"><i ></i> 信息添加</a></li>
            <li><a href="/car-sell/vipUse/selectConsumeDetail"><i ></i> 信息修改</a></li>
            <li class="active"><a href="/car-sell/vipUse/selectConsumeDetail"><i ></i> 充值</a></li>
            <li><a href="/car-sell/vipUse/selectConsumeDetail"><i ></i> 消费</a></li>
            <li><a href="/car-sell/vipUse/selectConsumeDetail" ><i ></i> 消费充值明细查询</a></li>
          </ul>

          
        </div>
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>会员充值 </h1>
            <hr style="height:3px;border:none;border-top:2px double red;" />
            <!-- <small>Enter Your Data</small> -->
            
            <!-- <div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Visit <a class="alert-link" target="_blank" href="http://getbootstrap.com/css/#forms">Bootstrap's Form Documentation</a> for more information.
            </div> -->
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-6">
          <p>
          <h3>请输入会员编号或手机号：</h3>
          <input class="form-control">
          </p>
          <button type="submit" class="btn btn-success btn-lg btn-block">查询</button>
          
        </div>
        </div>


        <br/>
        <!-- <hr style="height:1px;border:none;border-top:1px solid #555555;" /> -->

        

        <hr style="height:1px;border:none;border-top:1px solid #555555;" />

        <div class="row">
          <div class="col-lg-12">
          <h2>会员基本信息：</h2>
            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
          </div>
          <div class="col-lg-6">


            <form role="form">

              <div class="form-group">
                <h3>会员编号：</h3>
                <!-- <label>姓名</label> -->
                <input class="form-control">
                
              </div>

              <div class="form-group">
                <h3>姓名：</h3>
                <!-- <label>姓名</label> -->
                <input class="form-control">
                
              </div>

              <div class="form-group">
                <h3>电话：</h3>
                <!-- <label>姓名</label> -->
                <input class="form-control">
                
              </div>

              <div class="form-group">
                <h3>车牌号：</h3>
                <!-- <label>姓名</label> -->
                <input class="form-control">
                
              </div>

              <div class="form-group">
                <h3>车型：</h3>
                <!-- <label>姓名</label> -->
                <input class="form-control">

              </div>

              <!-- <div class="form-group">
                <h3>成为会员日期：</h3>
                
                <input class="form-control">
                
              </div> -->

               <div class="form-group">
                <h3>会员等级：</h3>
                <!-- <label>姓名</label> -->
                <input class="form-control">
                
              </div>

              <div class="form-group">
                <h3>账户余额：</h3>
                <!-- <label>姓名</label> -->
                <input class="form-control">
                
              </div>

             
             

            
            


            </form>
          </div>
        </div>

        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
         

            







          <div class="row">
            <div class="col-lg-12">
               <h2>会员充值：</h2>
           <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

            </div>

          <div class="col-lg-6">

          <p>
           


          
           <!-- <div class="btn-group">
                    <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
                      &nbsp;&nbsp;&nbsp;&nbsp;请&nbsp;选&nbsp;择&nbsp;充&nbsp;费&nbsp;类&nbsp;型
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                     </ul>

                     

              </div> -->
                  
             <h3>输入充值金额：</h3>
                    <input class="form-control">

              <!--<h3>输入奖励金额：</h3>-->
                    <!--<input class="form-control">-->
                    <p></p>

                     <button type="submit" class="btn btn-success btn-lg btn-block">充值提交</button>
              
          </p>   
          
          
          </div>

        
          
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script th:src="@{/static/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>

  </body>
</html>