<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>丹阳老人头</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link th:href="@{/static/css/sb-admin.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" th:href="@{/static/css/morris-0.4.3.min.css}">
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="vipindex.html">丹阳老人头汽车服务后台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li><a href="/car-sell/vipIndex"><i ></i> 首页</a></li>
                <li><a href="/car-sell/vipUse/selectConsumeDetail"><i ></i> 信息添加</a></li>
                <li><a href="/car-sell/vipUse/selectConsumeDetail"><i ></i> 信息修改</a></li>
                <li><a href="/car-sell/vipUse/selectConsumeDetail"><i ></i> 充值</a></li>
                <li><a href="/car-sell/vipUse/selectConsumeDetail"><i ></i> 消费</a></li>
                <li class="active"><a href="/car-sell/vipUse/selectConsumeDetail" ><i ></i> 消费充值明细查询</a></li>
            </ul>
        </div>
      </nav>
    <div class="copyrights">Collect from <a href="http://h2design.taobao.com/"  title="网站模板">网站模板</a></div>
      <div id="page-wrapper">
        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> 
                全部消费充值记录</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                    <table id="example" class="table table-bordered table-hover table-striped tablesorter">
                        <thead>
                        <tr>
                            <th>记录id<i class="fa fa-sort"></i></th>
                            <th>姓名 <i class="fa fa-sort"></i></th>
                            <th>手机号 <i class="fa fa-sort"></i></th>
                            <th>车牌号 <i class="fa fa-sort"></i></th>
                            <th>车型 <i class="fa fa-sort"></i></th>
                            <th>充值/消费项目 <i class="fa fa-sort"></i></th>
                            <th>充值/消费金额 <i class="fa fa-sort"></i></th>
                            <th>充值/消费日期 <i class="fa fa-sort"></i></th>
                            <th>备注 <i class="fa fa-sort"></i></th>
                            <th>账户余额 <i class="fa fa-sort"></i></th>
                            <th>该消费所得积分 <i class="fa fa-sort"></i></th>
                            <th>总积分 <i class="fa fa-sort"></i></th>
                            <th>公里数 <i class="fa fa-sort"></i></th>
                            <th>保险到期日 <i class="fa fa-sort"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="info,infoStat:${list}">
                            <td th:text="${infoStat.count}"></td>
                            <td th:text="${info.name}"></td>
                            <td th:text="${info.tel}"></td>
                            <td th:text="${info.carNumber}"></td>
                            <td th:text="${info.carType}"></td>
                            <td th:text="${info.xmName}"></td>
                            <td th:text="${info.much}"></td>
                            <td th:text="${info.detailDate}"></td>
                            <td th:text="${info.remarks}"></td>
                            <td th:text="${info.balance}"></td>
                            <td th:text="${info.xmId} == 100 ? '':${info.much}"></td>
                            <td th:text="${info.score}"></td>
                            <td th:text="${info.kilometer}"></td>
                            <td th:text="${#dates.format(info.insurance, 'yyyy-MM-dd')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="text-right">
                  <a href="#">查看全部消费充值记录 <i class="fa fa-arrow-circle-right"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script th:src="@{/static/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>

    <!-- Page Specific Plugins -->    <script th:src="@{/static/js/raphael-min.js}"></script>
    <script th:src="@{/static/js/morris-0.4.3.min.js}"></script>
    <script th:src="@{/static/js/morris/chart-data-morris.js}"></script>
    <script th:src="@{/static/js/tablesorter/jquery.tablesorter.js}"></script>
    <script th:src="@{/static/js/tablesorter/tables.js}"></script>
    <script th:src="@{/static/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/js/dataTables.bootstrap.js}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').dataTable({
                "oLanguage" : {
                    "sLengthMenu" : "每页显示 _MENU_ 条记录",
                    "sZeroRecords" : "对不起，没有匹配的数据",
                    "sInfo" : "第 _START_ - _END_ 条 / 共 _TOTAL_ 条数据",
                    "sInfoEmpty" : "没有匹配的数据",
                    "sInfoFiltered" : "(数据表中共 _MAX_ 条记录)",
                    "sProcessing" : "正在加载中...",
                    "sSearch" : "全文搜索：",
                    "oPaginate" : {
                        "sFirst" : "第一页",
                        "sPrevious" : " 上一页 ",
                        "sNext" : " 下一页 ",
                        "sLast" : " 最后一页 "
                    }
                }
            });
        } );
    </script>

  </body>
</html>
