<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swj.carsell.mapper.VipMuchDetailMapper" >
  <resultMap id="BaseResultMap" type="com.swj.carsell.model.VipMuchDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="much" property="much" jdbcType="DOUBLE" />
    <result column="point" property="point" jdbcType="DOUBLE" />
    <result column="jl_much" property="jlMuch" jdbcType="DOUBLE" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>