<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swj.carsell.mapper.VipUseDetailMapper" >
  <resultMap id="BaseResultMap" type="com.swj.carsell.model.VipUseDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="xmid" property="xmid" jdbcType="INTEGER" />
    <result column="much" property="much" jdbcType="DOUBLE" />
    <result column="detail_date" property="detailDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="kilometer" property="kilometer" jdbcType="DOUBLE" />
    <result column="insurance" property="insurance" jdbcType="TIMESTAMP" />
    <result column="vip_id" property="vipId" jdbcType="INTEGER" />
  </resultMap>
</mapper>